# 1. sql

Last Update: 2016-10-06 jdbc
todo: caseDao를 반영해야 하지 않을까

## 1.1 학습내용

### 1.1.1 목표

* json
* mongodb
* couchdb
* sqlite

### 1.1.2 문제

* 문제 JSON-1: dictionary에서 json
* 문제 JSON-2: file에서 json
* 문제 JSON-3: url에서 json
* 문제 mongo crud in python
* 문제 mongo shell
* 문제 couchdb curl
* 문제 couchdb curl crud
* 문제 상품목록 데이터베이스를 사용하여 shell로 조회한다.
* 문제: 프로그램으로 데이터베이스를 생성하고 조회한다.
* 문제: java로 sqlite 데이터베이스를 생성하고 조회한다.

### 1.1.3 연습

## 1.2 json

* 파일 확장자 .json
* json format (from w3schools)
    * 1개 json.
        * 콜론으로 구분하여 key와 값으로 구성되어 있다.

```
{"employees":[
    {"firstName":"John", "lastName":"Doe"},
    {"firstName":"Anna", "lastName":"Smith"},
    {"firstName":"Peter", "lastName":"Jones"}
]}
```
    * 리스트안의 json
```
[ { ... } ]
```

* s를 string으로 이해하면 쉬움.
    * loads() loads JSON from a string (deserializing str to obj)
    * dumps() Serialize obj to a JSON formatted string
    * load() loads JSON from a file
    * dump() Serialize obj as a JSON formatted stream to fp

* url에서 읽을 때
```
json.load(response): read chunk from the network, then process it, repeat until done
json.loads(response.read()): read chunks from the network until done, then process the whole JSON data in one go
```

## 문제 JSON-1: dictionary에서 json

In [5]:
_j={"employees":[
    {"firstName":"John", "lastName":"Doe"},
    {"firstName":"Anna", "lastName":"Smith"},
    {"firstName":"Peter", "lastName":"Jones"}
]}

In [2]:
print type(_j)

<type 'dict'>

In [3]:
import json

json.dumps(_j)

'{"employees": [{"lastName": "Doe", "firstName": "John"}, {"lastName": "Smith", "firstName": "Anna"}, {"lastName": "Jones", "firstName": "Peter"}]}'

## 문제 JSON-2: file에서 json

* file에서 'json formatted string'을 읽어오는 경우
    * [??] json.loads()는 string -> unicode로 읽어 옴 (dictionary가 아니라)
    * [??] 한 번 더 json.loads()를 하면, unicode -> dictionary로 만들어 줌.

* 파일에 쓰기

In [6]:
import io, json
with io.open('src/ds_sql_employee.json', 'w', encoding='utf8') as json_file:
    data=json.dumps(_j, json_file, ensure_ascii=False, encoding='utf8')
    json_file.write(data)

In [7]:
import json
fp=open('src/ds_sql_employee.json','r')
data=fp.read()

In [8]:
print data

{"employees": [{"lastName": "Doe", "firstName": "John"}, {"lastName": "Smith", "firstName": "Anna"}, {"lastName": "Jones", "firstName": "Peter"}]}

In [9]:
empjson=json.loads(data)
type(empjson)

dict

* key, value에 u가 있는 경우

In [1]:
import json, ast
r = {u'name': u'A', u'primary_key': 1}
ast.literal_eval(json.dumps(r))

{'name': 'A', 'primary_key': 1}

## 문제 JSON-3: url에서 json

* url에 어떻게 저장되어 있는지에 따라 다르게 처리
    * 사례1: list > 그 안에는 dictionary로 저장
    * 사례2: dict > meta, data > data 안에는 key없이 값만 list로 저장 (key는 meta에 저장)
* read from url (taken from spark.ipynb)

* 사례1

In [1]:
import requests
_url="https://raw.githubusercontent.com/jokecamp/FootballData/master/World%20Cups/all-world-cup-players.json"
r=requests.get(_url)

In [8]:
type(r)

requests.models.Response

In [5]:
if r.status_code==200:
    _json=r.json()

In [6]:
type(_json)

list

In [7]:
print _json[0].keys()

[u'Club', u'ClubCountry', u'Year', u'Number', u'Competition', u'DateOfBirth', u'Team', u'Position', u'FullName', u'IsCaptain']

* 사례2

In [12]:
import requests
_url="https://health.data.ny.gov/api/views/jxy9-yhdk/rows.json?accessType=DOWNLOAD"
r=requests.get(_url)

In [13]:
_json=r.json()

* json데이터는 meta, data로 구분해서 만들어져 있슴
* data는 52252건

In [14]:
type(_json)

dict

In [16]:
_json.keys()

[u'meta', u'data']

In [17]:
_jsonList=_json['data']

In [18]:
len(_jsonList)

52252

In [19]:
print _json['data'][0]

[1, u'5DC7F285-052B-4739-8DC3-62827014A4CD', 1, 1425450997, u'714909', 1425450997, u'714909', u'{\n}', u'2013', u'GAVIN', u'ST LAWRENCE', u'M', u'9']

## 1.2 mongodb

* Why nosql - 모델링 없이 (schema free) 문서를 저장.
    * Database - mongo는 데이터베이스를 생성하는 명령어가 없다. mongodb는 bson으로 저장
    * Collections (RDB table)
    * Document (RDB record)

RDBMS | MongoDB
-------|-------
Database | Database
Table | Collection
Row | Document
primary key | primary key (_id를 기본으로 제공)
schema | schema free

* install
    * linux
        ```
        sudo apt-get install mongodb-org
        sudo pip install pymongo
        ```
    * 윈도우
        * 다운로드 32,64비트 선택, msi 설치

* config 설정
    * 리눅스는 /etc/mongodb.conf
    * 윈도우
    * 설정은 YAML 또는 init 형식으로 한다.
    * 예:
        ```
        fork = true
        bind_ip = 127.0.0.1
        port = 27017
        quiet = true
        dbpath = /var/lib/mongodb
        logpath = /var/log/mongodb/mongod.log
        logappend = true
        journal = true
        ```

* db 저장 디렉토리 설정변경
    * 설정 파일 '/etc/mongodb.conf' 에서 변경할 수 있다. 기본 디렉토리는 '/data/db' 현재 설정은:
        ```
        dbpath=/var/lib/mongodb
        ```
        
    * cli로 변경
        ```
        mongod --dbpath
        ```



* 실행
    * 단계 1: 서버 (서버를 실행하면서 config 및 db경로를 설정한다)
        * 리눅스 cli (osx도 동일하게 실행한다):
            ```
            mongod --config ./mongodb.conf --dbpath ./data --port 27017
            ```

        * daemon으로 실행할 경우:
            ```
            sudo service mongodb start
            sudo service mongodb stop
            ```
 
        * 윈도우 cli:
            * 경로를 설정한다. cli로 할 수 있다 (제어판에서 하는 것이 쉽다)
                ```
                setx mongodb "C:\Program Files\MongdDB\Server\3.2"
                setx path "%path%";"%mongodb%\bin"
                mongod
                ```

            * 32비트 설치 후 실행하는 경우, storageEngine오류 발생. 오류메시지 읽어보고 따라 함.
                ```
                mongod --storageEngine=mmapv1 --dbpath [your-path]
                ```

        * 문제가 있으면 위 명령문에 --repair 붙여서 한 후, --repair 빼고 다시 실행
    * 단계 2: 클라이언트
        ```
        mongo
        또는
        mongo -u new_user -p new_password new_database
        ```

    * 오류
        * Failed to connect to 127.0.0.1:27017 -> 서버를 실행하지 않고 하는 경우 발생한다.
        * port already in use (또는 netstat -nlp | grep 하거나 lsof -i tcp:27017)
        ```
        $ ps -ax | grep mongo
        $ kill -9 15302
        ```

### 1.2.1 mongo shell

* mongofiles cli
    ```
    mongofiles list
    ```

* help는 --help

* sample cli
    ```
    $ mongo
    > show dbs
    > use test
    > db.createCollection("myCollection")
    > show collections
    > db.getCollectionNames() or show collections or show tables
    > db.dropDatabase()
    > db.help()
    ```

* cli 명령어


구분 | 예 | 설명
-------|-------
db create | > use DB_NAME | use mydb
db insert | > db.mydb.insert_one( {"name":"js"} ) | 데이터 입력
drop db | > use mydb <br> > db.dropDatabase() | mydb를 삭제함
create Collection | > db.createCOllection("mycollection") | mycollection을 생성
drop collection | db.mycollection.drop() | mycollection을 삭제
insert into collection | db.mycollection.insert( {"name":"js"} ) | 데이터 입력
read | db.mycollection.find() | 데이터 검색 limit(), sort()
read | db.mycol.find({"likes":{$lt:50}}) | 조건 검색 (less than)
update | db.mycol.update_one( {'name':'js 1'} ) | 갱신
remove | db.mycol.remove() | 삭제 1건
remove | db.mycol.remove( {'name':'js' } ) | 조건 삭제


* admin

예 | 설명
-------|-------
show dbs | show dbs show db list
show collections | show collection list
db.seoul.count() | record 갯수

* mongod는 쉘 (mongod는 mongo daemon)

In [ ]:
!mongo

MongoDB shell version: 2.6.10
connecting to: test
>

In [5]:
%%writefile src/ds_sql_mongo_test.js
db.test.save({x:1})
db.test.find()
db.stats()

Overwriting src/ds_sql_mongo_test.js

In [6]:
!mongo < src/ds_sql_mongo_test.js

MongoDB shell version: 2.6.10
connecting to: test
WriteResult({ "nInserted" : 1 })
{ "_id" : ObjectId("581121af5010767f01441c77"), "a" : 1 }
{ "_id" : ObjectId("581122e4e994a927d3601173"), "a" : 1 }
{ "_id" : ObjectId("581122f5136ebba424709b37"), "x" : 1 }
{ "_id" : ObjectId("5811232186d1fbf960da31b9"), "x" : 1 }
{
	"db" : "test",
	"collections" : 5,
	"objects" : 18,
	"avgObjSize" : 65.77777777777777,
	"dataSize" : 1184,
	"storageSize" : 40960,
	"numExtents" : 5,
	"indexes" : 5,
	"indexSize" : 40880,
	"fileSize" : 67108864,
	"nsSizeMB" : 16,
	"dataFileVersion" : {
		"major" : 4,
		"minor" : 5
	},
	"extentFreeList" : {
		"num" : 0,
		"totalSize" : 0
	},
	"ok" : 1
}
bye

## 문제 mongo shell

* javascript 파일을 저장하고 실행한다.

In [10]:
%%writefile src/ds_sql_mongo_cli.js
db
use myDB
show tables
db.myTable.find({ "id": 1 })

Overwriting src/ds_sql_mongo_cli.js

In [11]:
!mongo < src/ds_sql_mongo_cli.js

MongoDB shell version: 2.6.10
connecting to: test
test
switched to db myDB
myTable
system.indexes
{ "_id" : ObjectId("5819f2b7f5e6e92403bee9d2"), "country" : "ko", "age" : 11, "id" : 1, "name" : "js" }
bye

### 1.2.2. pymongo

* 설치
    * 리눅스 pip install pymongo
    * 윈도우
        ```
        conda install pymongo
        ```
* 실행
    * mongod가 백그라운드에서 실행되고 있어야 한다 (대기 상태 실행)
    * 아래 문제와 같이 pymongo 세션을 시작하면, 백그라운드 mongod가 "connection accpeted from localhost..."
    * connection은 close할 수 있다.

## 문제 mongo crud in python

* Employees 데이터베이스를 생성하고, 그 안에 mytable을 생성한다.
* client는 conf 파일을 읽어서 설정한다. 'localhost:27017'는 생략할 수 있다.
    ``
    client = MongoClient('localhost:27017')
    ```

* dictionary 스타일로 database를 사용할 수 있다.
    ```
    client['myDB']
    ```

In [4]:
import pymongo

In [5]:
from pymongo import MongoClient

client = MongoClient()
db=client.myDB

* insert

In [6]:
_id=1
_name='js'
_age=11
_country='ko'

* 입력은 insert_one(), insert_many()를 사용한다.

In [21]:
db.myDB.insert_one({
    "id": _id,
    "name": _name,
    "age": _age,
    "country": _country
})

* find()함수는 pymongo.cursor.Cursor 객체를 반환하고, key로 결과를 조회할 수 있다.

In [16]:
results = db.myDB.find()
for r in results:
        print r['name']

js

* update

In [20]:
_name='jslim'
_age=123
db.myDB.update_one(
        {"id": _id},
        {
            "$set": {
                "name":_name,
                "age":_age,
            }
        }
    )

In [23]:
results = db.myDB.find()
for r in results:
        print r['id'],r['name']

1 jslim
1 jslim

* delete

In [25]:
db.myDB.delete_many({"id":1})

## 1.3 couchDB

- sudo apt-get install couchdb
$ /etc/init.d/couchdb
$ curl http://localhost:5984
- http://127.0.0.1:5984/_utils
- http://net.tutsplus.com/tutorials/getting-started-with-couchdb/

## 문제 couchdb curl

In [3]:
!curl http://localhost:5984

{"couchdb":"Welcome","uuid":"a7461e0dccf40fd1e03a8d8f48bebcda","version":"1.6.0","vendor":{"name":"Ubuntu","version":"15.10"}}

## 문제 couchdb curl crud

In [ ]:
# %load /home/jsl/Code/git/bb/jsl/mycurl.sh
host='http://127.0.0.1:5984'
dbname='tasks'

# creating db
curl -X PUT $host/$dbname 

# uploading index.html
docname=webpage
curl -X PUT $host/$dbname/$docname/index.html\
    --data-binary @index.html\
    -H "Content-Type: text/html"

curl -X PUT $host/$dbname\
     -H 'Content-Type: application/json' -d @q1.json

curl -X POST $host/$dbname/_temp_view \
    -H "Content-Type: application/json" \
    -d \
    '{
        "map": "function(doc) {
            if (doc.type=="quote") {
                emit(doc.work.year,doc);
            }
        }
    }'


curl -X POST http://localhost:5984/_replicate\
     -H "Content-Type: application/json" \
     -d '{
        "source":"http://117.16.47.18:5984/tweets-user-timeline-228329122",
        "target":"http://localhost:5984/jsl"
     }'
curl -X POST http://localhost:5984/_replicate\
     -H "Content-Type: application/json" \
     -d '{
        "source":"http://117.16.47.18:5984/tweets-user-timeline-111162906",
        "target":"http://localhost:5984/jsl"
     }'
# create doc
#curl -H "Content-type: application/json"\
#     -X POST $host/$dbname\
#     -d "{
#     \"firstname\" : \"Martin\",
#     \"address\" : {
#             \"home\" : [
#                 \"Some road\",
#                 \"Some town\",
#                 \"Postcode\",
#                 \"Country\"
#             ]
#         },
#         \"title\" : \"Mr\",
#         \"lastname\" : \"Brown\",
#         \"phones\" : {
#             \"home\" : \"09874978\",
#             \"mobile\" : \"0892374908\"
#         }
#     }"

'''
     222     #curl -X GET http://127.0.0.1:5984
     223     #/contactsjsl/_design/contactsjsl/_view/viewjsl
     224     #/contactsjsl/_design/contactsjsl/_view/viewjsl?group=true

{
    "hello": "function(doc, req) {\n
        return {\n
            body: \"Hellooo World\"\n
        }\n
    }\n"
    function(doc, req) {
      return {
          body: "Hello World"
            }
            }

    
    
    ,
    "test": "function(doc, req) {\n
        return {\n
            body: '<foo>'+doc.title+'</foo>',\n
            headers: {\n
                'Content-Type':'application/xml',\n
                'X-My-Own-Header':'you can set your own headers'\n
            }\n
        }\n
    }\n"
}
http://127.0.0.1:5984/contactsjsl/_design/jsl/_show/hello
http://127.0.0.1:5984/contactsjsl/_design/jsl/_show/test/c5

'''

## 1.4 sql

### 1.4.1 sqlite

    1) www.sqlite.org접속
        * sqlite-shell-win32-x86-xxxxxxx.zip 다운로드
        * 압축풀고
        * c:\Program Files\sqlite3\에 복사 (디렉토리 없으면 생성)

    2) 아래 테이블 myddl.sql로 저장
        * 테이블명에서 order와 같은 예약어는 제외 (jumun으로 바꿈)

    3) 명령프롬프트에서 db생성
        ```
        cd src
        src> sqlite3.exe my.db < myddl.sql
        ```

## 문제: 상품목록데이터베이스를 사용하여 shell로 조회한다.

* ddl에서 db를 생성
* shell script로 조회

* ddl 파일을 src/ 디렉토리 아래 만든다.

In [11]:
%%writefile src/ds_sql_hello_ddl.sql
CREATE TABLE product (
  pid INTEGER NOT NULL PRIMARY KEY,
  p_name VARCHAR(50),
  p_price INTEGER );
CREATE TABLE customer (
  cid INTEGER NOT NULL PRIMARY KEY,
  c_name VARCHAR(50) );
CREATE TABLE jumun (
  cid INTEGER NOT NULL REFERENCES customer,
  oid INTEGER NOT NULL REFERENCES orderItem,
  PRIMARY KEY (cid, oid) );
CREATE TABLE orderItem (
  oid INTEGER NOT NULL PRIMARY KEY,
  pid INTEGER NOT NULL REFERENCES product );
INSERT INTO product VALUES (1,'computer',1000);
INSERT INTO customer VALUES (1,'Kim');
INSERT INTO jumun VALUES (1,1);
INSERT INTO orderItem VALUES (1,1);

Writing src/ds_sql_hello_ddl.sql

* ddl에서 db를 생성한다.

In [12]:
!sqlite3 src/ds_sql_hello.db < src/ds_sql_hello_ddl.sql

In [13]:
!ls -lt src/ds_sql_hello*

-rw-r--r-- 1 jsl jsl 6144 10월  6 11:32 src/ds_sql_hello.db
-rw-rw-r-- 1 jsl jsl  584 10월  6 11:31 src/ds_sql_hello_ddl.sql

* shell script로 생성된 테이블을 확인한다.
* shell script로 테이블에 입력된 레코드를 조회한다.

In [14]:
!sqlite3 src/ds_sql_hello.db '.tables'

customer   jumun      orderItem  product

In [15]:
!sqlite3 src/ds_sql_hello.db 'select * from product'

1|computer|1000

### 1.4.2 Python session

* 'import sqlite3' for python2.5 upwards (import pysqlite for less than 2.5)
* ref: http://www.sqlite.org/
    ```
    $ sudo apt-get install sqlite3
    ```

* 또는 package dataset을 사용할 수 있다.

```
import dataset

# connecting to a SQLite database
db = dataset.connect('sqlite:///mydatabase.db')

# connecting to a MySQL database with user and password
db = dataset.connect('mysql://user:password@localhost/mydatabase')
```


%cd ~/Code/git/p2/src/

## 문제: 프로그램으로 데이터베이스를 생성하고 조회한다.

* embedded python으로 데이터를 생성한다.
* 조회한다.

In [16]:
from sqlite3 import dbapi2 as sql
sql.sqlite_version

# create and connect to a database
# creating an in-memory db
#con = sql.connect(":memory:")
con=sql.connect('src/ds_sql_hello.db')
cur=con.cursor()
cur.execute("select * from product")
cur.fetchall()
#[(1, u'computer', 1000)]

[(1, u'computer', 1000)]

In [17]:
# create and connect to a database
# con = sqlite3.connect(r"/home/jsl/Documents/Code/PCI/mydb.db")
con = sql.connect("src/ds_sql_hello2.db")
cur = con.cursor()
cur.execute("CREATE TABLE Program (id INTEGER PRIMARY KEY,name TEXT NOT NULL)")
cur.execute("INSERT INTO Program (id, name) values (1, 'History')")
con.commit()
cur.execute("select * from Program")
print cur.fetchall()
cur.close()

[(1, u'History')]

In [18]:
!ls -l src/*.db

-rw-r--r-- 1 jsl jsl 2048 10월  6 11:33 src/ds_sql_hello2.db
-rw-r--r-- 1 jsl jsl 6144 10월  6 11:32 src/ds_sql_hello.db

In [ ]:
#query p.61
q='functional programming'
words=q.split(' ')
tablenumber=0
res=con.execute("select rowid from wordlist where word='%s'" % words[0]).fetchone()

#A SQLite database created in your script current directory.
#$ sqlite3 mydb.db
#sqlite> .databases
#sqlite> .tables
#sqlite> .schema
#sqlite> drop table link;
#sqlite> .q

#sqlite> ATTACH DATABASE './searchindex.db' as sdb;
#sqlite> PRAGMA database_list;
#sqlite> PRAGMA cache_size=10000;
#sqlite> PRAGMA cache_size;

### 1.4.3 java session

## 문제: java로 sqlite 데이터베이스를 생성하고 조회한다.

* embedded python으로 데이터를 생성한다.
* 조회한다.

In [4]:
/classpath lib/sqlite-jdbc-3.14.2.jar

 /classpath lib/sqlite-jdbc-3.14.2.jar
|  Path 'lib/sqlite-jdbc-3.14.2.jar' added to classpath

In [5]:
import java.sql.*;

 import java.sql.*;

* sqlite driver name
    ```
    org.sqlite.JDBC
    ```

* jdbc url
    ```
    jdbc:sqlite:test.db
    jdbc:sqlite://dirA/dirB/dbfile
    jdbc:sqlite:/DRIVE:/dirA/dirB/dbfile
    jdbc:sqlite:///COMPUTERNAME/shareA/dirB/dbfile
    ```

In [11]:
String sqliteDriver="org.sqlite.JDBC";

 String sqliteDriver="org.sqlite.JDBC";
|  Added variable sqliteDriver of type String with initial value "org.sqlite.JDBC"

In [12]:
Class.forName(sqliteDriver);

 Class.forName(sqliteDriver);
|  Expression value is: class org.sqlite.JDBC
|    assigned to temporary variable $10 of type Class<?>

In [14]:
String _db = "./src/ds_sql_hello_jdbc.db";
String _jdbc = "jdbc:sqlite";
String _url = _jdbc + ":" + _db;

 String _db = "./src/ds_sql_hello_jdbc.db";
|  Modified variable _db of type String with initial value "./src/ds_sql_hello_jdbc.db"
|    Update overwrote variable _db

 String _jdbc = "jdbc:sqlite";
|  Modified variable _jdbc of type String with initial value "jdbc:sqlite"
|    Update overwrote variable _jdbc

 String _url = _jdbc + ":" + _db;
|  Modified variable _url of type String with initial value "jdbc:sqlite:./src/ds_sql_hello_jdbc.db"
|    Update overwrote variable _url

In [15]:
Connection c = DriverManager.getConnection(_url);

 Connection c = DriverManager.getConnection(_url);
|  Modified variable c of type Connection with initial value org.sqlite.SQLiteConnection@543e710e
|    Update overwrote variable c

In [16]:
Statement stmt = c.createStatement();
String sql = "CREATE TABLE COMPANY " +
           "(ID INT PRIMARY KEY     NOT NULL," +
           " NAME           TEXT    NOT NULL, " + 
           " AGE            INT     NOT NULL, " + 
           " ADDRESS        CHAR(50), " + 
           " SALARY         REAL)"; 
stmt.executeUpdate(sql);
stmt.close();
c.close();

 Statement stmt = c.createStatement();
|  Added variable stmt of type Statement with initial value org.sqlite.jdbc4.JDBC4Statement@3d0f8e03

 String sql = "CREATE TABLE COMPANY " +
            "(ID INT PRIMARY KEY     NOT NULL," +
            " NAME           TEXT    NOT NULL, " +
            " AGE            INT     NOT NULL, " +
            " ADDRESS        CHAR(50), " +
            " SALARY         REAL)";
|  Modified variable sql of type String with initial value "CREATE TABLE COMPANY (ID INT PRIMARY KEY     NOT NULL, NAME           TEXT    NOT NULL,  AGE            INT     NOT NULL,  ADDRESS        CHAR(50),  SALARY         REAL)"
|    Update overwrote variable sql

 stmt.executeUpdate(sql);
|  Expression value is: 0
|    assigned to temporary variable $20 of type int

 stmt.close();

 c.close();

In [1]:
!sqlite3 src/ds_sql_hello_jdbc.db '.tables'

COMPANY

In [3]:
!sqlite3 src/ds_sql_hello_jdbc.db 'select * from COMPANY'